.footer-sponsors {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    overflow: auto;
}

.footer-sponsors h3{
    font-size: 0.8em;
    font-style: italic;
    color: #343434;
    padding-left: 20px;
    /*
    margin: 5px auto;
    width: 200px;

    text-align: center;
    */
}

.footer-sponsors img{
    display: inline-block;
    float: left;
    width: 70px;
    height: 65px;
    margin: 25px
}


