.thanks-to {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 50px;
    background: darkgrey;

}

.thanks-to h3{
    font-size: 1em;
    padding-top: 30px;

}

.thanks-to ul{
    padding-top: 15px;
    display: inline-block;
}
.thanks-to ul li a {
    display: block;
    padding: 3px;
}

.thanks-to ul li a:link,
.thanks-to ul li a:active,
.thanks-to ul li a:visited {
    text-decoration: none;
    color: #131313;
}

.thanks-to ul li a:hover{
    background: black;
    color: white;
}